/* Styles are listed in order of placement on page */

/* Mobile styles are at the bottom */


/* Styles are listed in order of placement on page */

/* Mobile styles are at the bottom */



/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body,
html {
  background-color: #e9ecef;
  font-family: 'Quicksand', ;
}

.common-header {
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Global Styles *END* */

/* Nav Background */

.navbar,.container-color {
  background-color: #1a5336;
}

/* Nav Background *END* */


/* Primary Nav Styles */

.navbar a {
  background: 0 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 300;
  height: 100%;
  letter-spacing: 0.3px;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

.navbar-brand img {
  width: 40px;
}

/* Primary Nav Styles *END* */


/* Secondary Nav Styles */

.nav-tabs {
  border-bottom: none;
}

.nav-tabs li a {
  border-bottom: 0;
  padding: 18px 14px 18px 14px;
}

.nav-tabs li a:hover {
  border: 0;
  padding: 19px 15px;
}

.scrollable-menu {
  font-size: 15px;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  width: 270px;
}

/* Secondary Nav Styles *END* */


/* Form Style */

.welcome-tag {
  font-size: 15px;
  font-weight: 300;
}

.custom-select {
  color: #999;
}

input[value="First Name*"] {
  color: #999;
}
input[value="Middle Initial"] {
  color: #999;
}
input[value="Last Name*"] {
  color: #999;
}
input[value="Email address*"] {
  color: #999;
}
input[value="Date of Birth*"] {
  color: #999;
}
input[value="Social Insurance Number*"] {
  color: #999;
}

.btn-tip {
  background: #fff;
  border: 1px solid #2aa221;
  border-radius: 35px;
  color: #2aa221;
  font-size: 11px;
  height: 16px;
  margin: 34px 0 0 -8px;
  padding: 0 2px;
  text-align: center;
  width: 16px;
}

.cancel-button {
  background-color: #c65415;
  color: #fff;
}

.cancel-button:hover {
  background-color: #9d4412;
  color: #fff;
}

/* Form Style *END* */


/* Application Identification Section Style */

.card {
  background-color: #e9ecef;
  border: 0;
}

.card-subtitle {
  font-size: 16px;
}

.app-header {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}

.app-lead {
  font-size: 20px;
  font-weight: 300;
}

/* Application Identification Section Style *END* */


/* Footer Style */

.jumbotron-fluid {
  background-color: #1a5336;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
}

hr {
  border-color: #2aa221;
}

h1.footer-lead {
  font-size: 28px;
  font-weight: 100;
}

.contact-us {
  color: #5bd454;
  text-decoration: none;
}

.contact-us:hover {
  color: #5bd454;
  text-decoration: none;
}

.footer-nav a {
  color: #fff;
  font-size: 14px;
}

.btn-circle {
  border: 2px solid #2aa221;
  border-radius: 35px;
  font-size: 12px;
  height: 60px;
  padding: 10px 8px;
  text-align: center;
  width: 60px;
}

/* Footer Style *END* */




/* Mobile Styles */


/* Extra-Small breakpoint */

@media (max-width: 640px) {
  .nav-tabs {
    display: none;
  }

  .navbar-brand {
    font-size: 12px;
    margin-left: 100%;
  }

  .card {
    text-align: center;
  }

  .footer-lead {
    margin: 0 auto;
    width: 40%;
  }

  .footer-nav {
    margin: 0 auto;
    width: 37%;
  }

  .desktop-chair {
    display: none;
  }

  .mobile-chair {
    margin: 0 auto;
    width: 70%;
  }
}

/* Extra-Small breakpoint END */


/* Small Screen Breakpoint */

@media screen and and (max-width: 768px) {
  .navbar-brand {
    font-size: 9px;
  }

  .desktop-chair {
    display: none;
  }
}

/* Small Screen Breakpoint */


/* Medium Screen Breakpoint */

@media (max-width: 75em) {
  .nav-tabs {
    display: none;
  }

  .btn-circle {
    border: 2px solid #2aa221;
    border-radius: 35px;
    font-size: 12px;
    height: 46px;
    text-align: center;
    width: 46px;
  }

  .desktop-chair {
    display: none;
  }
}

/* Medium Screen Breakpoint END */


/* Large Screen Breakpoint */

@media (min-width: 1200px) {
  #navbar-styling {
    display: block;
    float: left;
    height: 50px;
    width: 100%;
  }

  #navbar-styling li {
    display: block;
    float: left;
    height: 34px;
    text-align: center;
    transition: all ease-in-out 0.2s;
    width: 20%;
  }

  #navbar-styling a {
    color: white;
    display: block;
    float: left;
    line-height: 10px;
    padding: 0 0.5em;
    text-decoration: none;
    width: 100%;
  }

  #navbar-styling li:hover {
    border-bottom: 5px solid #2aa221;
  }
    
  .lock-icon {
     display: none;   
  }

  .mobile-chair {
    display: none;
  }
}

/* Large Screen Breakpoint END */


/* Mobile Styles END */


/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body,
html {
  background-color: #e9ecef;
  font-family: 'Quicksand', ;
}

.common-header {
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Global Styles *END* */

/* Nav Background */

.navbar,.container-color {
  background-color: #1a5336;
}

/* Nav Background *END* */


/* Primary Nav Styles */

.navbar a {
  background: 0 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 300;
  height: 100%;
  letter-spacing: 0.3px;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

.navbar-brand img {
  width: 40px;
}

/* Primary Nav Styles *END* */


/* Secondary Nav Styles */

.nav-tabs {
  border-bottom: none;
}

.nav-tabs li a {
  border-bottom: 0;
  padding: 18px 14px 18px 14px;
}

.nav-tabs li a:hover {
  border: 0;
  padding: 19px 15px;
}

.scrollable-menu {
  font-size: 15px;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  width: 270px;
}

/* Secondary Nav Styles *END* */


/* Form Style */

.welcome-tag {
  font-size: 15px;
  font-weight: 300;
}

.custom-select {
  color: #999;
}

input[value="First Name*"] {
  color: #999;
}
input[value="Middle Initial"] {
  color: #999;
}
input[value="Last Name*"] {
  color: #999;
}
input[value="Email address*"] {
  color: #999;
}
input[value="Date of Birth*"] {
  color: #999;
}
input[value="Social Insurance Number*"] {
  color: #999;
}

.btn-tip {
  background: #fff;
  border: 1px solid #2aa221;
  border-radius: 35px;
  color: #2aa221;
  font-size: 11px;
  height: 16px;
  margin: 34px 0 0 -8px;
  padding: 0 2px;
  text-align: center;
  width: 16px;
}

.cancel-button {
  background-color: #c65415;
  color: #fff;
}

.cancel-button:hover {
  background-color: #9d4412;
  color: #fff;
}

/* Form Style *END* */


/* Application Identification Section Style */

.card {
  background-color: #e9ecef;
  border: 0;
}

.card-subtitle {
  font-size: 16px;
}

.app-header {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}

.app-lead {
  font-size: 20px;
  font-weight: 300;
}

/* Application Identification Section Style *END* */


/* Footer Style */

.jumbotron-fluid {
  background-color: #1a5336;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
}

hr {
  border-color: #2aa221;
}

h1.footer-lead {
  font-size: 28px;
  font-weight: 100;
}

.contact-us {
  color: #5bd454;
  text-decoration: none;
}

.contact-us:hover {
  color: #5bd454;
  text-decoration: none;
}

.footer-nav a {
  color: #fff;
  font-size: 14px;
}

.btn-circle {
  border: 2px solid #2aa221;
  border-radius: 35px;
  font-size: 12px;
  height: 60px;
  padding: 10px 8px;
  text-align: center;
  width: 60px;
}

/* Footer Style *END* */




/* Mobile Styles */


/* Extra-Small breakpoint */

@media (max-width: 640px) {
  .nav-tabs {
    display: none;
  }

  .navbar-brand {
    font-size: 12px;
    margin-left: 100%;
  }

  .card {
    text-align: center;
  }

  .footer-lead {
    margin: 0 auto;
    width: 40%;
  }

  .footer-nav {
    margin: 0 auto;
    width: 37%;
  }

  .desktop-chair {
    display: none;
  }

  .mobile-chair {
    margin: 0 auto;
    width: 70%;
  }
}

/* Extra-Small breakpoint END */


/* Small Screen Breakpoint */

@media screen and and (max-width: 768px) {
  .navbar-brand {
    font-size: 9px;
  }

  .desktop-chair {
    display: none;
  }
}

/* Small Screen Breakpoint */


/* Medium Screen Breakpoint */

@media (max-width: 75em) {
  .nav-tabs {
    display: none;
  }

  .btn-circle {
    border: 2px solid #2aa221;
    border-radius: 35px;
    font-size: 12px;
    height: 46px;
    text-align: center;
    width: 46px;
  }

}

/* Medium Screen Breakpoint END */


/* Large Screen Breakpoint */

@media (min-width: 1200px) {
  #navbar-styling {
    display: block;
    float: left;
    height: 50px;
    width: 100%;
  }

  #navbar-styling li {
    display: block;
    float: left;
    height: 34px;
    text-align: center;
    transition: all ease-in-out 0.2s;
    width: 20%;
  }

  #navbar-styling a {
    color: white;
    display: block;
    float: left;
    line-height: 10px;
    padding: 0 0.5em;
    text-decoration: none;
    width: 100%;
  }

  #navbar-styling li:hover {
    border-bottom: 5px solid #2aa221;
  }
    
  .lock-icon {
     display: none;   
  }

  .mobile-chair {
    display: none;
  }
}

/* Large Screen Breakpoint END */


/* Mobile Styles END */
